<%- contentFor('body') %>

<h1>Welcome. Please select and connect with one of your activity trackes</h1>


<a class="btn btn-default" href="/nike">Nike+</a>
<a class="btn btn-default" href="/endomondo">Endomondo</a>

